.home{
position: relative;
width: 100%;
min-height: 100vh;
 display: flex;
 background: var(--grdBlack);
 flex-direction: column;
}

.back{
position: absolute;
background: var(--mainRed);
width: 45%;
height: 25vh;
top: 0;
left: 0;
clip-path: polygon(0 0,100% 0,100% 0%,0 100%);
}

.next{
background: var(--mainRed);
width: 45%;
height: 25vh;
position: absolute;
bottom: 0;
right: 0;
clip-path: polygon(100% 100%,100% 0,100% 0%,0 100%);
}

.pokemon-list{
    width: 85%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.432);
    margin: auto;
    z-index: 1;
    border-radius: 10vh;
}