.page-detalle{
    background: var(--grdBlack);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.slider-container{
    width: 50%;
    display: flex;
    border-right: 7px solid red;
}
.slider-wrapper{
    width: 50%;
    height: 50%;
    margin: auto;
}
.description-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}
.info-tabla{
    width: 95%;
    height: 80%;
    background-color: rgba(161, 161, 159, 0.103);
    border-radius: 10%;
    margin: auto;
    padding: 7vh 5vw;
}
.img-slider{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .page-detalle{
        display: flex;
        flex-direction: column;
    }
    .slider-container{
        width: 100%;
        height: 70vh;
        
    }
    .description-container{
        width: 100%;
        height: 70vh;
        
    }
}